h1{
    color: red;
}
h2{
   color: #ffa500;
}
h3{
    color: rgb(255, 255, 0);
}
h4{
    color: hsl(120, 100%, 25%);
}

#h1{
    background-color: rgb(0, 195, 255);
}
#h2{
    background-color: indigo;
}
#h3{
    background-color: violet;
}
#h4{
    background-color: hsl(196, 100%, 25%);
}